In [40]:
import pandas as pd
import json
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.svm import SVC

%matplotlib inline

In [31]:
df_copy = pd.read_csv("C:/Users/golds/Documents/Studies/hit/Year B/semester A/Introduction to Data Science/Final Project/df_cleaned1.csv")
df = df_copy.copy()
df

,Unnamed: 0,title,long_title,category,main_reporter,num_of_reporters,content,views,url,number_of_words,interested,not_interested,publish_date_day,time_group
0,0,אחרי הפיגועים בבירה - התכנית של הממשלה,עמודי בטון יוצבו בתחנות האוטובוס: אחרי הפיגועי...,ביטחוני,ניר דבורי,1,"מיו""ש - לירושלים: ראש הממשלה בנימין נתניהו ועי...",13460,https://www.mako.co.il/news-military/2023_q1/A...,403,315,31,3,3
1,1,אסיל סואעד שנהרג בפיגוע בשועפאט הובא למנוחות,"""אדם שמח, שתמיד נכון לסייע"": לוחם מג""ב אסיל סו...",ביטחוני,אדר גיציס,1,"סמ""ר אסיל סואעד, לוחם מג""ב שנהרג אמש מירי במהל...",6254,https://www.mako.co.il/news-military/2023_q1/A...,379,125,2,3,3
2,2,"בקשות הנשק מכפילות את עצמן, אך פחות מאושרות",מרכז המחקר בכנסת חושף: מספר בקשות רישיון הנשק ...,ביטחוני,משה נוסבאום,1,מספר הבקשות לרישיון נשק מכפיל את עצמו מידי שנה...,2649,https://www.mako.co.il/news-military/2023_q1/A...,162,53,1,3,3
3,3,ישראלי שנכנס עם רכבו בטעות לקלנדיה והותקף,"""ניסיתי להגיע לכותל המערבי ועשו עליי לינץ'"": י...",ביטחוני,ענבר טויזר,2,עומר נחמן בן ה-35 הותקף היום (שלישי) לאחר שככל...,9886,https://www.mako.co.il/news-military/2023_q1/A...,164,254,6,3,2
4,4,מה מוביל את המחבלים הילדים והמוקש במזרח י-ם,"מה מוביל את ""הילדים מחבלים"" - והמוקש שעלול להד...",ביטחוני,ניר דבורי,1,גילם הצעיר של המחבלים שביצעו את הפיגועים אתמול...,7879,https://www.mako.co.il/news-military/2023_q1/A...,264,197,7,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,4207,איראן: איש משמרות המהפכה נהרג בתאונה,איראן: איש משמרות המהפכה נהרג בתאונה,בעולם,אוהד חמו,1,באיראן מדווחים על לוחם ביחידת התעופה והחלל של ...,29944,https://www.mako.co.il/news-world/2022_q2/Arti...,232,1034,16,3,4
3170,4208,לקראת הכרעת הקרב בעיר המפתח במזרח אוקראינה,"לקראת הכרעת הקרב הגדול במזרח אוקראינה, והחשש מ...",בעולם,אסף רוזנצוייג,1,רוסיה השתלטה על רובה של העיר סברודונייצק בלוגנ...,26849,https://www.mako.co.il/news-world/2022_q2/Arti...,934,553,23,3,3
3171,4212,"ביידן: ""זלנסקי לא רצה לשמוע את האזהרות שלנו""","הנשיא ביידן: ""הזהרנו את אוקראינה מפני רוסיה - ...",בעולם,שני בירנבוים,1,"""לא היה ספק"": נשיא ארצות הברית ג'ו ביידן סיפק ...",47902,https://www.mako.co.il/news-world/2022_q2/Arti...,240,1140,79,1,3
3172,4213,איוונקה הסכימה שהבחירות לא נגנבו - טראמפ תקף,"איוונקה טענה שהבחירות לא נגנבו, טראמפ השיב: ""ל...",בעולם,עמית ולדמן,1,כשנה וחצי לאחר ההסתערות של תומכי דונלד טראמפ ע...,25462,https://www.mako.co.il/news-world/2022_q2/Arti...,178,815,47,5,4
3173,4214,"""טראמפ ניסה לבצע ניסיון הפיכה אלים בקפיטול""","בית הנבחרים מאשים בחומרה את טראמפ: ""ניסה לבצע ...",בעולם,אסף רוזנצוייג,1,ועדת החקירה בבית הנבחרים האמריקני לאירועי הפרי...,19519,https://www.mako.co.il/news-world/2022_q2/Arti...,700,433,37,5,3

In [32]:
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('long_title', axis=1)
df = df.drop('main_reporter', axis=1)
df = df.drop('content', axis=1)
df = df.drop('url', axis=1)
df = df.drop('title', axis=1)

In [33]:
# changing the weekdays column into numbers, so it will be easier to work with
category_to_number = {
     'ביטחוני': 1,
    'בעולם': 2,
    'פוליטי': 3,
    'פלילי': 4,
    'תרבות': 5,
    'כלכלה': 6
}
df['category'] = df['category'].replace(category_to_number)

In [34]:
X = df.drop('views', axis=1)
y = df['views']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the linear regression model and fit it to your data
model = LinearRegression()
model.fit(X, y)

# Print the coefficients
Coefficients = pd.Series(model.coef_, index=X.columns)
print(Coefficients)
print('Intercept:', model.intercept_)
y_pred = model.predict(X_test)

# calculate the R-squared value
r2 = r2_score(y_test, y_pred)

# print the R-squared value
print('R-squared:', r2)

category            2974.658056
num_of_reporters    3238.526979
number_of_words       38.480704
interested            34.128573
not_interested        69.229388
publish_date_day     -46.007448
time_group           294.741244
dtype: float64
Intercept: -21549.62095249157
R-squared: 0.624289885418597

In [35]:

df['views_group'] = pd.qcut(df['views'], q=[0, 0.2, 0.4, 0.6, 0.8, 1], labels=[0, 1, 2, 3, 4])

df

,category,num_of_reporters,views,number_of_words,interested,not_interested,publish_date_day,time_group,views_group
0,1,1,13460,403,315,31,3,3,1
1,1,1,6254,379,125,2,3,3,0
2,1,1,2649,162,53,1,3,3,0
3,1,2,9886,164,254,6,3,2,0
4,1,1,7879,264,197,7,3,2,0
...,...,...,...,...,...,...,...,...,...
3169,2,1,29944,232,1034,16,3,4,3
3170,2,1,26849,934,553,23,3,3,2
3171,2,1,47902,240,1140,79,1,3,4
3172,2,1,25462,178,815,47,5,4,2
3173,2,1,19519,700,433,37,5,3,2

In [36]:
df = df.drop('views', axis=1)

In [37]:
X = df.drop('views_group', axis=1)
y = df['views_group']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)
# calculate the R-squared value
r2 = r2_score(y_test, y_pred)
# print the R-squared value
print('R-squared:', r2)

importances = rf.feature_importances_
feature_names = X.columns
feature_importances = pd.Series(importances, index=feature_names)
print(feature_importances)

Accuracy: 0.6125984251968504
R-squared: 0.708077329613738
category            0.056153
num_of_reporters    0.020047
number_of_words     0.180500
interested          0.388664
not_interested      0.227353
publish_date_day    0.082782
time_group          0.044501
dtype: float64

In [42]:

# Create a SVM classifier with a linear kernel
svm = SVC(kernel='linear')

# Train the SVM classifier on the training set
svm.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = svm.predict(X_test)

# Compute the accuracy of the SVM classifier
accuracy = accuracy_score(y_test, y_pred)

print('Accuracy: {:.2f}'.format(accuracy))
r2 = r2_score(y_test, y_pred)

print('R² score: {:.2f}'.format(r2))

Accuracy: 0.62
R² score: 0.70